<h2 class="md-5 mt-5 ml-5 cyan-text font-weight-bold">Laissez un message  </h2>
<div class="row">
        <div class="col-lg-5 col-md-12">
                <!-- Form contact -->
                <form class="p-5 cyan-text">
                  <div class="md-form form-sm"> <i class="fas fa-user prefix"></i>
                    <input type="text" id="form3" class="form-control form-control-sm">
                    <label for="form3">Your name</label>
                  </div>
                  <div class="md-form .form-control-sm"> <i class="fas fa-envelope prefix"></i>
                    <input type="text" id="form2" class="form-control form-control-sm">
                    <label for="form2">Your email</label>
                  </div>
                  <div class="md-form .form-control-sm"> <i class="fas fa-phone prefix"></i>
                    <input type="text" id="for" class="form-control form-control-sm">
                    <label for="for">Telephone</label>
                  </div>
                  <div class="md-form form-sm"> <i class="fas fa-tag prefix"></i>
                    <input type="text" id="form32" class="form-control form-control-sm">
                    <label for="form34">Subject</label>
                  </div>
                  <div class="md-form form-sm"> <i class="fas fa-pencil-alt prefix"></i>
                    <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4"></textarea>
                    <label for="form8">Your message</label>
                  </div>
                  <div class="text-center mt-4">
                    <button class="btn btn-primary">Send <i class="far fa-paper-planeml-1"></i></button>
                  </div>
                </form>
                <!-- Form contact -->
              </div>

    <div class="col-lg-7 col-md-12">
        <!--Google map-->
        <!--Grid row-->
<div class="row text-center">

  <!--Grid column-->
  <div class="col-lg-4 col-md-12 mb-3">

      <p><i class="fas fa-map fa-1x mr-2 cyan-text"></i>Br 03 Centre Le Palace Av Hedi Nouira Ennasr 2 CP : 2001</p>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6 mb-3">

      <p><i class="fas fa-building fa-1x mr-2 cyan-text"></i>Mon - Fri, 8:00-22:00</p>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-4 col-md-6 mb-3">

      <p><i class="fas fa-phone fa-1x mr-2 cyan-text"></i>(+216) 70 830 524<br> (+216) 23 569 470</p>

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->
        <div id="map-container" class="z-depth-1-half map-container ml-4 mb-5" style="height: 300px; width: 800px;">
          <agm-map [latitude]="latitude" [longitude]="longitude">

          </agm-map>
        </div>
    </div>
    
</div>
