.view {
    background: url("https://www.avenue14.net/wp-content/uploads/2019/10/tunisie.jpg")no-repeat center center;
    /*background: ("assets/navbar.jpg")no-repeat center center;*/
    background-size: cover;
    height: 50vh;
}


.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
