<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
          <img class="logo navbar-brand" src="assets/logo.png"style="width:60px;height:60px;">
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link"routerLink="/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"routerLink="/hotels">Hotels</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"routerLink="/voyage">Voyages</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Soirées
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Circuits
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link">Omra
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link"routerLink="/contact">Contact
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
    <!-- Main -->
    <div class="view intro-2">
      <div class="full-bg-img">
        
      </div>
    </div>
    <!-- /.Main -->
</header>
  <!--Main Navigation-->

  <!--Main Layout-->
  
  <!--Main Layout-->